<!--The content below is only a placeholder and can be replaced.-->
<h1>Firechat</h1>
<div class="container main-container">
    <div class="row justify-content-end" *ngIf="cs.usuario.id">
        <button 
            *ngIf="cs.usuario.id"
            (click)="cerrarSesion()"
            class="btn btn-outline-danger">
              Salir
      </button>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
          <app-login *ngIf="!cs.usuario.id"></app-login>
          <app-chat *ngIf="cs.usuario.id"></app-chat>
      </div>
    </div>
    
</div>

